<form class="row text-start g-3">
  <div class="col-12">
    <label for="inputArea" class="form-label">Área:</label>
    <select id="inputArea" class="form-select" aria-label="Select Area">
      <option selected>Selecione uma Área</option>
      <option value="1">Odontologia</option>
      <option value="2">Fisioterapia</option>
      <option value="3">Fonoaudiologia</option>
    </select>
  </div>

  <div class="col-12">
    <label for="inputProfessional" class="form-label">Profissional:</label>
    <select id="inputProfessional" class="form-select" aria-label="Select Professional">
      <option selected>Selecione um Profissional</option>
      <option value="1">João Jones</option>
      <option value="2">Carla Cunha</option>
    </select>
  </div>

  <div class="col-12">
    <label for="inputAppointmentType" class="form-label">Tipo de Atendimento:</label>
    <select id="inputAppointmentType" class="form-select" aria-label="Select Appointment Type">
      <option selected>Selecione o tipo</option>
      <option value="1">Particular</option>
      <option value="2">Convenio A</option>
      <option value="3">Convenio B</option>
    </select>
  </div>

  <div class="col-12">
    <label for="inputClientName" class="form-label">Nome do Paciente:</label>
    <input type="text" class="form-control" id="inputClientName" placeholder="Nome..." readonly>
    <div>
      <small>Confirmar telefone: (15) 9876 4321</small>
    </div>
  </div>

  <div class="col-12">
    <label for="inputComment" class="form-label">Comentários:</label>
    <textarea class="form-control" id="inputComment" rows="3"></textarea>
  </div>

</form>