<form class="row text-start g-3">
  <div class="col-12">
    <label for="inputArea" class="form-label">Área:</label>
    <select id="inputArea" class="form-select" aria-label="Select Area">
      <option selected>Selecione uma Área</option>
      <option value="1">Odontologia</option>
      <option value="2">Fisioterapia</option>
      <option value="3">Fonoaudiologia</option>
    </select>
  </div>

  <div class="col-12">
    <label for="inputProfessional" class="form-label">Profissional:</label>
    <select id="inputProfessional" class="form-select" aria-label="Select Professional">
      <option selected>Selecione um Profissional</option>
      <option value="1">João Jones</option>
      <option value="2">Carla Cunha</option>
    </select>
  </div>
</form>