<div class="row">
  <div class="col-10 offset-1">

    <div class="schedule mt-3">
        <div class="row">
          <div class="col time-shift">
            Manhã
          </div>
        </div>

        <div class="row">
          <div class="col time time-available">
            8:00
          </div>
          <div class="col time time-available">
            8:30
          </div>
          <div class="col time time-available">
            9:00
          </div>
          <div class="col time time-available">
            9:30
          </div>
          <div class="col time time-off">
            10:00
          </div>
          <div class="col time time-off">
            10:30
          </div>
          <div class="col time time-off">
            11:00
          </div>
          <div class="col time time-off">
            11:30
          </div>
        </div>

        <div class="row mt-2">
          <div class="col time-shift">
            Tarde
          </div>
        </div>

        <div class="row">
          <div class="col time time-off">
            14:00
          </div>
          <div class="col time time-off">
            14:30
          </div>
          <div class="col time time-off">
            15:00
          </div>
          <div class="col time time-off">
            15:30
          </div>
          <div class="col time time-available">
            16:00
          </div>
          <div class="col time time-selected">
            16:30
          </div>
          <div class="col time time-available">
            17:00
          </div>
          <div class="col time time-available">
            17:30
          </div>
        </div>

    </div>


  </div>
</div>